<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="navbar-brand" [routerLink]="['/courses']">WIKI IT</a>
        </li>

        <li class="nav-item dropdown">
          <button type="button" data-toggle="dropdown" class="btn btn-secondary dropdown-toggle" *ngIf="_router.url == '/courses'">Filter</button>
          <ul class="dropdown-menu mt-2 filter">
            <li class="px-3 py-2">
              <app-filter-course ></app-filter-course>
            </li>
          </ul>
        </li>

        <li class="nav-item" *ngIf="isAdmin() === true">
          <a [routerLink]="['/courses/add']"><button type="button" class="btn btn-secondary">Add a course</button></a>
        </li>

        
      </ul>


      <ul *ngIf="userIsLooged() === null" class="nav navbar-nav flex-row justify-content-between ml-auto">
          <li class="pr-3">
              <a [routerLink]="['/login']"><button type="button" class="btn btn-secondary">Login</button></a>
          </li>
          <li>
            <a [routerLink]="['/sign-up']"><button type="button" class="btn btn-secondary">Sign up</button></a>
          </li>
      </ul>

      <ul *ngIf="userIsLooged() !== null" class="nav navbar-nav flex-row justify-content-between ml-auto">
        <li class="dropdown pr-3">
            <button type="button" data-toggle="dropdown" class="btn btn-secondary dropdown-toggle">Account</button>
            <ul class="dropdown-menu dropdown-menu-right mt-2">
                <li class="px-3 py-2 account">
                    User: <b>{{ getUserName() }}</b>
                    <hr>
                </li>
                <li class="px-3 py-2 text-center account">
                  <button type="button" class="btn btn-outline-secondary" (click)="logOut()">Log out</button>
              </li>
            </ul>
        </li>
      </ul>
    </div>
</nav>
